.footer__copyright {
  display: block;
  margin-bottom: .7em; 
}
.footer__copyright, .footer__copyright a {
  font-size: 12px;
  color: #eeeeee;
  text-shadow: -0.5px -0.5px #333333;
  text-decoration: none; 
}
.footer__copyright a:hover {
  color: #84252b; 
}

/* 暗黑模式 */
@media (prefers-color-scheme: dark) {
  .footer__copyright, .footer__copyright a {
    color: #444444;
    text-shadow: -0.5px -0.5px #EEEEEE;
    text-decoration: none; 
  }
}